div {
  background-color: powderblue;
}
body {
  margin :0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', serif;
  font-size: 90px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 50px;
}

h3 {
  color: #11999E;
}
a {
  color: #11999E;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.top-container {
  background-color: powderblue;
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
}
.top-cloud {

  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

hr {
  border-style: none;
  width: 5%;
  border-top-style:dotted;
  border-width: 7px;
  border-color: #5DA7DB;
  padding-top:30px;
  padding-bottom: 30px;
}
.p {
  padding-bottom: 30px;
}
.skill-row:hover {
  background-color: #5DA7DB;
}

.contact-me:hover {
  background-color:#E6CBA8 ;
}
.bottom-container:hover {
  background-color: #FDF0E0;
}
